/* general */
body {
  font-family: "Arial";
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: #eaeaea;
}
p {
  color: #0c1143;
  background-color: #bbbbbb;
  width: 37%;
  height: auto;
  padding: 2%;
  border-bottom: 2px solid #aaaaaa;
  border-radius: 5px;
}
input[type="text"] {
  font-family: "Arial";
  height: 30px;
  width: 80%;
  background-color: transparent;
  border: 1px solid #1a2739;
  border-radius: 5px;
  color: #28549a;
  outline: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}
.codeBtn {
  font-family: "Arial";
  height: auto;
  max-height: 45px;
  width: 42%;
  padding: 2%;
  font-size: 18px;
  color: #ffffc8;
  margin: 5px;
  background-color: #0c1142;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.codeBtn:hover {
  background-color: #ffffc8;
  color: #0c1142;
  border: none;
}
.auxBtn {
  font-family: "Arial";
  height: auto;
  max-height: 45px;
  width: auto;
  padding: 2%;
  font-size: 18px;
  color: #0c1142;
  margin: 5px;
  background-color: #c6d4e5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.auxBtn:hover {
  background-color: #0c1142;
  color: #ffffc8;
  border: none;
}
.outputs {
  background-color: #bdd4f0;
  width: 90%;
  overflow: scroll;
  padding: 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#logOutput {
  background-color: #f0ecbd;
  color: #0c1143;
  border-radius: 5px;
  display: none;
  width: 50%;
  margin: auto;
  position: sticky;
  top: 5%;
}
#idOutput {
  padding: 15px;
  font-size: 23px;
}
hr.dashed {
  border-top: 3px dashed #bbb;
  margin-top: 50px;
}
.evsSwitch {
  display: inline-block;
}
#evsCells {
  width: 100%;
}
#evsSelect {
  width: 80%;
}
#envSelect {
  width: 19%;
}
#apmSelector {
  color: #0c1143;
  padding: 8px 16px;
  border: 1px solid #0c1143;
  cursor: pointer;
  outline: none;
}
.privateAux {
  padding: 10px;
}
